<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>resourceBundle.path</param-name>
        <param-value>i18n.messages_pl</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>  
        
    <security-constraint>
        <display-name>LoginPage</display-name>
        <web-resource-collection>
            <web-resource-name>LoginPage</web-resource-name>
            <description/>
            <url-pattern>/faces/login/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>   
    <security-constraint>
        <display-name>Accounts</display-name>
        <web-resource-collection>
            <web-resource-name>Account</web-resource-name>
            <description/>
            <url-pattern>/faces/account/*</url-pattern>
            <url-pattern>/faces/account/detailsMyAccount.xhtml</url-pattern>
            <url-pattern>/faces/offer/listOfferAdministrator.xhtml</url-pattern>
            <url-pattern>/faces/inquiry/listInquiryAdministrator.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Administrator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>   
    <security-constraint>
        <display-name>PageSupplier</display-name>
        <web-resource-collection>
            <web-resource-name>PageSupplier</web-resource-name>
            <description/>
            <url-pattern>/faces/account/detailsMyAccount.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Supplier</role-name>
        </auth-constraint>
    </security-constraint> 
    <security-constraint>
        <display-name>PageBuyer</display-name>
        <web-resource-collection>
            <web-resource-name>PageBuyer</web-resource-name>
            <description/>
            <url-pattern>/faces/account/detailsMyAccount.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Buyer</role-name>
        </auth-constraint>
    </security-constraint> 
       
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>OfferPortalForSuppliersRealm</realm-name>
        <form-login-config>
            <form-login-page>/faces/login/formLogin.xhtml</form-login-page>
            <form-error-page>/faces/login/formLoginError.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    
    <security-role>
        <description/>
        <role-name>Buyer</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Supplier</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Administrator</role-name>
    </security-role>
    
    <error-page>
        <error-code>403</error-code>
        <location>/faces/error/error403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/error/error404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/faces/error/error.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/faces/error/error.xhtml</location>
    </error-page>   
    
</web-app>
